.frame {
  display: flex;
  width: 1920px;
  height: 1200px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background: linear-gradient(
      158deg,
      rgba(239, 239, 239, 1) 0%,
      rgba(229, 231, 235, 1) 50%,
      rgba(251, 194, 235, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
}

.frame .before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
      50% 50% at 69% 59%,
      rgba(255, 182, 193, 0.5) 0%,
      rgba(255, 182, 193, 0) 40%
    ),
    radial-gradient(
      50% 50% at 30% 44%,
      rgba(255, 105, 180, 0.4) 0%,
      rgba(255, 105, 180, 0) 40%
    ),
    radial-gradient(
      50% 50% at 62% 39%,
      rgba(147, 112, 219, 0.3) 0%,
      rgba(147, 112, 219, 0) 50%
    );
}

.frame .component {
  position: relative;
  max-width: 500px;
  width: 500px;
  height: 1311.39px;
  margin-top: -75.70px;
  margin-bottom: -75.70px;
  background-color: #ffffff66;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff80;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.frame .header {
  position: absolute;
  width: calc(100% - 66px);
  top: 33px;
  left: 33px;
  height: 156px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.frame .div-inline-block {
  display: inline-flex;
  margin-left: 178.5px;
  width: 77px;
  height: 72px;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  background-color: #f2e6ff;
  border-radius: 9999px;
}

.frame .symbol {
  justify-content: center;
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  color: #9333ea;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.frame .text {
  display: flex;
  flex: 1;
  max-height: 36px;
  position: relative;
  margin-top: 16px;
  flex-direction: column;
  width: 434px;
  align-items: center;
}

.frame .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-black-font-family);
  font-weight: var(--inter-black-font-weight);
  color: #6b21a8;
  font-size: var(--inter-black-font-size);
  text-align: center;
  letter-spacing: var(--inter-black-letter-spacing);
  line-height: var(--inter-black-line-height);
  white-space: nowrap;
  font-style: var(--inter-black-font-style);
}

.frame .p-text-gray {
  display: flex;
  flex: 1;
  max-height: 24px;
  position: relative;
  margin-top: 8px;
  flex-direction: column;
  width: 434px;
  align-items: center;
}

.frame .div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .form-ng-k {
  display: flex;
  flex-direction: column;
  width: calc(100% - 66px);
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 221px;
  left: 33px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 16px 12px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffffb2;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ec48994c;
}

.frame .div-3 {
  flex: 1;
  flex-grow: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .div-3::-webkit-scrollbar {
  width: 0;
  display: none;
}

.frame .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .symbol-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 32.00%;
  align-items: flex-start;
  position: absolute;
  top: 34.00%;
  left: 16px;
  opacity: 0.7;
}

.frame .symbol-2 {
  margin-top: -1.00px;
  font-family: var(--font-awesome-5-free-regular-font-family);
  color: #ec4899;
  font-size: var(--font-awesome-5-free-regular-font-size);
  line-height: var(--font-awesome-5-free-regular-line-height);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: var(--font-awesome-5-free-regular-font-weight);
  letter-spacing: var(--font-awesome-5-free-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--font-awesome-5-free-regular-font-style);
}

.frame .symbol-3 {
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  color: #ec4899;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.frame .password-strength {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 4px;
  background-color: #e5e7eb;
  border-radius: 2px;
  overflow: hidden;
}

.frame .div-strength-bar {
  width: 66.66%;
  height: 100%;
  background-color: #f59e0b;
}

.frame .div-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-wrapper-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ef4444;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #f97316;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #22c55e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.frame .gii-tnh-thm-mi {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 8px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .label-flex {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame .input-w {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #757575;
  position: relative;
  border-radius: 50px;
}

.frame .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .input-w-checked-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #0075ff;
}

.frame .input-w-checked {
  top: calc(50.00% - 5px);
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #0075ff;
  position: relative;
  border-radius: 50px;
}

.frame .ngy-sinh-thm-mi {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 48px;
  height: 48px;
  gap: 12px;
}

.frame .select-auth-input {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 32px 12px 16px;
  background-color: #ffffffb2;
  border-radius: 12px;
  border: 1px solid;
  border-color: #ec48994c;
}

.frame .div-4 {
  padding: 1px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.frame .select-auth-input-2 {
  grid-column: 2 / 3;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 32px 12px 16px;
  background-color: #ffffffb2;
  border-radius: 12px;
  border: 1px solid;
  border-color: #ec48994c;
}

.frame .select-auth-input-3 {
  grid-column: 3 / 4;
  position: relative;
  grid-row: 1 / 2;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 32px 12px 16px;
  background-color: #ffffffb2;
  border-radius: 12px;
  border: 1px solid;
  border-color: #ec48994c;
}

.frame .div-5 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-wrapper-3 {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 22px;
  align-items: flex-start;
  padding: 4px 0px 0px;
  position: relative;
}

.frame .div-6 {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #ec4899;
  border-radius: 2.5px;
}

.frame .div-7 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-regular-font-family);
  font-weight: var(--inter-regular-font-weight);
  color: #4b5563;
  font-size: var(--inter-regular-font-size);
  letter-spacing: var(--inter-regular-letter-spacing);
  line-height: var(--inter-regular-line-height);
  white-space: nowrap;
  font-style: var(--inter-regular-font-style);
}

.frame .text-2 {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #c63f8c;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  letter-spacing: 0;
  white-space: nowrap;
}

.frame .component-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 24px 14.39px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(147, 51, 234, 1) 0%,
    rgba(219, 39, 119, 1) 100%
  );
}

.frame .div-wrapper-4 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .symbol-4 {
  justify-content: center;
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  color: #ffffff;
  font-size: 17.6px;
  text-align: center;
  line-height: 17.6px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.frame .ng-k {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.4px;
  white-space: nowrap;
}

.frame .divider {
  display: flex;
  flex-direction: column;
  width: calc(100% - 66px);
  align-items: flex-start;
  position: absolute;
  top: 921px;
  left: 33px;
}

.frame .div-absolute {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .div-w-full {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #fbcfe8;
}

.frame .div-relative {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .span-px {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #ffffff80;
  border-radius: 9999px;
}

.frame .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-regular-font-family);
  font-weight: var(--inter-regular-font-weight);
  color: #f472b6;
  font-size: var(--inter-regular-font-size);
  letter-spacing: var(--inter-regular-letter-spacing);
  line-height: var(--inter-regular-line-height);
  white-space: nowrap;
  font-style: var(--inter-regular-font-style);
}

.frame .social-login {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 52px;
  width: calc(100% - 66px);
  height: 52px;
  gap: 16px;
  position: absolute;
  top: 973px;
  left: 33px;
}

.frame .component-3 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 62.31px;
  background-color: #ffffff;
  border-radius: 9999px;
  border: 2px solid;
  border-color: #fbcfe8;
}

.frame .i-fa-brands {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .symbol-5 {
  justify-content: center;
  margin-top: -1.00px;
  font-family: var(--font-awesome-5-brands-regular-font-family);
  color: #ef4444;
  font-size: var(--font-awesome-5-brands-regular-font-size);
  text-align: center;
  line-height: var(--font-awesome-5-brands-regular-line-height);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: var(--font-awesome-5-brands-regular-font-weight);
  letter-spacing: var(--font-awesome-5-brands-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--font-awesome-5-brands-regular-font-style);
}

.frame .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--inter-semi-bold-font-family);
  font-weight: var(--inter-semi-bold-font-weight);
  color: #000000;
  font-size: var(--inter-semi-bold-font-size);
  text-align: center;
  letter-spacing: var(--inter-semi-bold-letter-spacing);
  line-height: var(--inter-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--inter-semi-bold-font-style);
}

.frame .component-4 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 51.67px;
  background-color: #ffffff;
  border-radius: 9999px;
  border: 2px solid;
  border-color: #fbcfe8;
}

.frame .symbol-6 {
  justify-content: center;
  margin-top: -1.00px;
  font-family: var(--font-awesome-5-brands-regular-font-family);
  color: #2563eb;
  font-size: var(--font-awesome-5-brands-regular-font-size);
  text-align: center;
  line-height: var(--font-awesome-5-brands-regular-line-height);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: var(--font-awesome-5-brands-regular-font-weight);
  letter-spacing: var(--font-awesome-5-brands-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--font-awesome-5-brands-regular-font-style);
}

.frame .link-ng-nhp {
  display: flex;
  width: calc(100% - 66px);
  align-items: flex-start;
  justify-content: center;
  padding: 24px 0px 0px;
  position: absolute;
  top: 1049px;
  left: 33px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #f2e6ff;
}

.frame .c-t-i-kho-n {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-3 {
  justify-content: center;
  font-family: var(--inter-bold-font-family);
  font-weight: var(--inter-bold-font-weight);
  color: #9333ea;
  font-size: var(--inter-bold-font-size);
  text-align: center;
  line-height: var(--inter-bold-line-height);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  letter-spacing: var(--inter-bold-letter-spacing);
  white-space: nowrap;
  font-style: var(--inter-bold-font-style);
}

.frame .benefits {
  display: flex;
  flex-direction: column;
  width: calc(100% - 66px);
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: absolute;
  top: 1122px;
  left: 33px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(248, 244, 251, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
}

.frame .div-8 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .i-fa-solid {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .symbol-7 {
  margin-top: -1.00px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  color: #be185d;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.frame .p {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--inter-semi-bold-font-family);
  font-weight: var(--inter-semi-bold-font-weight);
  color: #be185d;
  font-size: var(--inter-semi-bold-font-size);
  letter-spacing: var(--inter-semi-bold-letter-spacing);
  line-height: var(--inter-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--inter-semi-bold-font-style);
}

.frame .ul-text-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .symbol-8 {
  font-family: var(--font-awesome-5-free-solid-font-family);
  color: #22c55e;
  font-size: var(--font-awesome-5-free-solid-font-size);
  line-height: var(--font-awesome-5-free-solid-line-height);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: var(--font-awesome-5-free-solid-font-weight);
  letter-spacing: var(--font-awesome-5-free-solid-letter-spacing);
  white-space: nowrap;
  font-style: var(--font-awesome-5-free-solid-font-style);
}
